[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base58 = "*"
ecdsa = "*"
googleapis-common-protos = "*"
protobuf = "*"
cryptography = "*"
toml = "*"
grpcio = "==1.13.0"

[dev-packages]
grpcio-tools = "*"
pytest = "*"
tox = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"

[requires]
python_version = "3.7"
