[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base58 = "*"
ecdsa = "*"
protobuf = "*"
googleapis-common-protos = "*"
cryptography = "*"

[dev-packages]
grpcio-tools = "*"
pytest = "*"
tox = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.7"
