alabaster==0.7.16
appdirs==1.4.4
attrs==23.2.0
babel==2.15.0
bleach==6.1.0
certifi==2024.2.2
chardet==5.2.0
codecov==2.1.13
coverage==7.5.3
distlib==0.3.8
docutils==0.21.2
entrypoints==0.4
filelock==3.14.0
flake8==7.0.0
grpcio-tools==1.64.0
grpcio==1.64.0
idna==3.7
imagesize==1.4.1
importlib-metadata==7.1.0; python_version < '3.8'
jinja2==3.1.4
keyring==25.2.1
markupsafe==2.1.5
mccabe==0.7.0
more-itertools==10.2.0
mypy-extensions==1.0.0
mypy==1.10.0
packaging==24.0
pkginfo==1.11.0
pluggy==1.5.0
protobuf==5.27.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.2.0
pygments==2.18.0
pyparsing==3.1.2
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest==8.2.1
pytz==2024.1
readme-renderer==43.0
requests-toolbelt==1.0.0
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
sphinx-rtd-theme==2.0.0
sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
toml==0.10.2
tox==4.15.0
tqdm==4.66.4
twine==5.1.0
typed-ast==1.5.5
typing-extensions==4.12.0
urllib3==2.2.1
virtualenv==20.26.2
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.34.2
zipp==3.1.0
